body {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333;
    background-color: rgba(20,173,255,0.1);
}

h1, h2, h3, p {
    margin-bottom: 20px;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

li {
    list-style: none;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2px;
    background-color: rgb(0, 0, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.logo img {
    width: 90px;
}

.nav__menu__btn {
    display: none;
}

.navbar li {
    margin-left: 18px;
}

.navbar a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
}


.navbar {
    display: none;
}

.navbar.show {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    padding-left: 0;
}
/* introduction */
.intro {
    margin: 0 8px;
}

.intro h1, h2 {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro h1{
margin-bottom: 2px;
}
.intro h2{
   margin-top: 2px; 
}

.intro p {
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px
}
/* About */
.about-section {
    margin: 20px 40px;
    padding-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.about img {
    width: 600px;
    height: 500px;
}

.about-section h2 {
    text-align: center;
    color: black;
    margin: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about p, li {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 4px 12px;
}

/* footer */
footer {
    margin: 0 2px;
    padding-bottom: 4px;
    background-color: whitesmoke;
}
.footer {
    margin: 0 2px;
    display: flex;
    justify-content: space-between;
}

footer p {
    text-align: center;
    color: #333;
    font-size: 14px;
}

.quick-links {
    margin: 0 12px;
}

.quick-links h5 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quick-links a {
    font-size: 14px;
}

.socials {
    display: flex;
}

.socials img {
    width: 40px;
}
/* Media Query */
/* Big screen */
@media only screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 14px;
    }
}

/* Small screen */
@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

    nav {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
    }

    .nav__menu__btn {
        display: block;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
        padding: 0 8px;
    }

    .ri-close-fill {
        font-size: 28px;
        color: lightblue;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .navigation {
        display: flex;
    }

    .navbar a {
        color: whitesmoke;
    }

    .about img {
        width: 70%;
        height: 60vh;
    }

    .socials img {
        display: block;
        width: 30px;
        margin: 0 auto;
    }

    .quick-links li {
        font-size: 13px;
    }

    .quick-links a {
        font-size: 12px;
    }
    
}
@media only screen and (max-width: 500px){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .socials img {
        display: block;
        width: 24px;
        margin: 0 auto;
    }

    footer p {
        font-size: 11px;
    }

    .quick-links a {
        font-size: 12px;
    }

    .quick-links li {
        font-size: 13px;
    }

    .quick-links h5 {
        font-size: 14px;
    }
    
}
